name: Django CI


on :
    push:
        branches: [main, master]
    pull_request:
        branches: [main, master]

jobs:
    lint:
        name: Code Linting
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.13'

            - name: Install flake8
              run: pip install flake8

            - name: Run linting
              run: flake8 . --max-line-length=120 --exclude=migrations,staticfiles 



    test:
        name: Run Tests
        runs-on: ubuntu-latest
        needs: lint
        env:
            SECRET_KEY: 'test-secret-key-only-for-ci'
            DEBUG: 'True'
            ALLOWED_HOSTS: 'localhost,127.0.0.1'
        steps:
            - name: Checkout code
              uses: actions/checkout@v4 

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.13'

            - name: Install Dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Run Migrations
              run: python manage.py migrate

            - name: Run tests
              run: python manage.py test 
